@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.App {
  font-family: 'Inter';
  padding: 24px 20px;
  width: 80%;
  margin: auto;
}

.profile_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.img_container img {
  position: absolute;
  margin-left: -46px;
}

.img_container img:last-of-type {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.img_container img:last-of-type:hover {
  opacity: 0;
}

.profile_section_content #twitter {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-top: 110px;
}

.profile_section_content #slack {
  display: none;
}