@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* MOBILE FIRST APPROACH */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.App {
  width: 100%;
  padding: 24px 15px;
  margin: auto;
}

.profile_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.img_container img {
  position: absolute;
  margin-left: -46px;
}

.share_profile {
  display: none;
}

.more img {
  position: absolute;
  margin-left: 120px;
}

.img_container img:last-of-type,
.more img:last-of-type {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.img_container img:last-of-type:hover,
.more img:last-of-type:hover {
  opacity: 0;
}

.profile_section_content #twitter {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-top: 110px;
}

.profile_section_content #slack {
  display: none;
}

.link_section {
  margin: 40px auto;
  max-width: 1152px;
}

a {
  text-decoration: none;
}

a .links {
  width: 100%;
  height: 76px;
  background: #eaecf0;
  margin: 15px auto;
  padding: 24px 32px;
  border-radius: 8px;
  box-sizing: border-box;
}

.links h2 {
  margin: 5px auto;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.links:hover {
  background: #d0d5dd;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.social_icons {
  display: flex;
  place-content: center;
  margin: 20px;
}

.slack_icon {
  width: 25px;
  margin-right: 30px
}

.footer_container {
  max-width: 1440px;
  margin: 64px auto 0;
}

.content {
  margin-top: 24px;
  display: block;
  text-align: left;
}

.footer_text {
  font-weight: 400;
  line-height: 20px;
  margin: 20px 0;
  color: #667085;
}

/* STYLES FOR LARGER SCREEN */

@media screen and (min-width: 780px) {
  .links h2 {
    font-size: 18px;
  }

  .more img {
    display: none;
  }

  .share_profile {
    display: block;
  }

  .share_profile img {
    position: absolute;
    margin-left: 250px;
  }

  .share_profile img:last-of-type {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .share_profile img:last-of-type:hover {
    opacity: 0;
  }

  .content {
    display: flex;
    place-content: space-between;
    padding: 30px 0;
  }

  .footer_text {
    margin: 0;
    line-height: 24px;
  }
}